// kbd3x3.keymap
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

 / {
    behaviors{
        td0: enter_bootloader {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bootloader>;
        }
    }
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A    &kp B    &kp C
                &kp D    &kp E    &kp F
                &kp G    &kp H    &td0
            >;
        };
    };
};
